.projects {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: white;
	justify-content: center;
}

.projects__title {
	font-family: 'Roboto Slab', Arial, sans-serif;
	margin: 15px auto;
}

.projects__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

.project {
	display: flex;
	height: min-content;
	flex-direction: row;
	margin: 0 auto 15px auto;
	width: min-content;
	cursor: pointer;
}

.project__name {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #63696c;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.project__description {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #B6BCBF;
	margin: 0;
}

.project__container {
	display: flex;
	flex-direction: column;
	width: 300px;
	align-items: left;
	margin-left: 15px;
}

.project__image {
	border-radius: 2px;
	width: 150px;
	height: 150px;
	object-fit: fill;
	border: 0.5px solid #cbcdce;
}

@media screen and (max-width: 703.5px) {
	.project {
		flex-direction: column;
		width: 300px;
	}

	.projects__title {
		font-size: 15px;
		line-height: 17px;
	}

	.project__container {
		width: 100%;
	}

	.project__image {
		margin: auto;
		width: 250px;
		height: 250px;
	}

	.project__container {
		text-align: center;
		margin: 0;
	}
}