.not-found{
	width: 1440px;
	background: #F5F6F7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
}

.not-found__image{
	width: 96px;
	height: 96px;
	margin: 0 0 24px 0;
}

.not-found__title{
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #1A1B22;
	margin: 0 0 16px 0;
}

.not-found__subtitle{
	width: 356px;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #B6BCBF;
	margin: 0;
}

@media screen and (max-width: 703.5px) {
	.not-found{
		width: 100%;
	}

	.not-found__subtitle{
		width: 100%;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.not-found{
		width: 100%;
	}

	.not-found__subtitle{
		width: 100%;
	}
}