.main__button{
	width: 288px;
	height: 64px;
	border-radius: 80px;
	border: none;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	background: #FFFFFF;
	color: #1A1B22;
	margin: 0 auto 80px;
}

.main__button:hover{
	background: #E8E8E8;
	opacity: 0.9;
	cursor: pointer;
	border-radius: 80px;
}

.main__button_closed{
	display: none;
}

.main__list{
	list-style: none;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: auto;
	justify-content: center;
	grid-row-gap: 16px;
	grid-column-gap: 16px;
	width: min-content;
	margin: 0 auto 64px;
}

.main__title{
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 46px;
	color: #1A1B22;
	height: 46px;
	width: 1232px;
	margin: 80px auto 64px calc(50% - 600px);
}

.main{
	width: 100%;
	display: none;
	flex-direction: column;
	position: relative;
	background-color: #F5F6F7;
	justify-content: center;
}

.main__opened{
	display: flex;
}

@media screen and (min-width: 1150px) and (max-width: 1231.5px) {
	.main__list{
		grid-template-columns: 370px 370px 370px !important;
		padding: 0 !important;
	}

	.main__title{
		width: 1150px !important;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.main__list {
		grid-template-columns: 224px 224px 224px;
		grid-template-rows: 420px;
		padding: 0;
	}

	.main__title{
		width: 80% !important;
		margin: 40px auto;
	}
}
  
@media screen and (max-width: 703.5px) {
	.main__list {
	  display: flex !important;
	  flex-direction: column !important;
	  justify-content: center !important;
	  align-items: center !important;
	  padding: 0 !important;
	}

	.main__title{
		width: 256px !important;
		margin: 40px auto !important;
	}

	.main{
		width: 100% !important;
	}

	.main__title{
		margin: 32px auto 0 auto !important;
	}

	.main__button{
		margin-bottom: 16px;
	}
}