.about-the-author{
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.about-the-author__container{
	display: flex;
	flex-direction: column;
	height: min-content;
	max-width: 600px;
	width: 41.66%;
	margin-top: 131px;
	margin-left: 56px;
}

.about-the-author__image{
	border-radius: 1000px;
	width: 464px;
	height: 464px;
	margin-top: 80px;
}

.about-the-author__text{
	width: 100%;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #1A1B22;
	margin: 0;
	text-decoration: none;
}

.about-the-author__text_bold{
	font-weight: 600;
}

.about-the-author__title{
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 46px;	
	color: #1A1B22;
	margin: 0 0 24px 0;
}

@media screen and (max-width: 703.5px) {
	.about-the-author{
		flex-direction: column !important;
		justify-content: center;
		align-items: center;
		padding-top: 17px;
	}
	.about-the-author__image{
		width: 272px !important;
		height: 272px !important;
		margin-top: 0 !important;
	}

	.about-the-author__title{
		font-size: 30px !important;
		line-height: 40px !important;
		margin: 24px 0 16px 0 !important;
	}

	.about-the-author__text{
		width: 288px !important;
		margin: 0 !important;
	}

	.about-the-author__container{
		margin: 0 auto !important;
		justify-content: center !important;
		align-items: center !important;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.about-the-author__image{
		width: 232px !important;
		height: 232px !important;
	}

	.about-the-author__title{
		font-size: 30px !important;
		line-height: 40px !important;
		margin: 0 0 16px 0 !important;
	}

	.about-the-author__text{
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.about-the-author__container{
		width: 55.2% !important;
		margin-left: 32px !important;
		margin-top: 40px !important;
	}
}