.header{
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	border-bottom: rgba(196, 196, 196, 0.01) solid ;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
	align-items: center;
	justify-content: center;
	z-index: 4;
}

.header_darker{
	background-color: #1A1B22;
}

.h-sb__container{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-image: url('../../images/search-bar-image.png');
	background-repeat: no-repeat;
	background-position: center;
}

.h-sb__container_no-background{
	background-image: none;
}

.header_theme_dark{
	box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__container{
	width: inherit;
	height: 80px;
	display: flex;
	flex-direction: row;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__logo{
	width: 200px;
	height: 24px;
	margin-top: 30px;
	margin-left: 104px;
	color: white;
	z-index: 4;
}

.header__button{
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	background-color: transparent;
	margin-top: 6px;
	margin-right: 104px;
	width: 176px;
	height: 48px;
	box-sizing: border-box;
	justify-content: space-around;
}

.header__button_menu{
	width: 16px;
	height: 16px;
	border: none;
}

.header__button_modified{
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	background-color: transparent;
	margin: 22px auto 24px auto;
	width: 90.5%;
	height: 48px;
	box-sizing: border-box;
	justify-content: space-around;
}

.header__button_modified:hover{
	cursor: pointer;
}

.header__button_theme_dark{
	border: 1px solid #1A1B22;
	color: #1A1B22;
}

.header__button_theme_dark_modified:hover{
	cursor: pointer;
}

.header__button:hover{
	cursor: pointer;
}

@media screen and (max-width: 703.5px) {
	.h-sb__container{
		background-size: auto !important;
	}

	.header{
		width: 100%;
		height: 56px;
		justify-content: space-between;
	}

	.header__logo{
		width: 117px !important;
		margin: 16px 0 16px 16px !important;
	}

	.header__button{
		margin: auto 20px auto 0 !important;
	}

	.header__button_theme_dark_modified{
		margin-bottom: 24px !important;
		width: 90.5%;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.header{
		width: 100%;
		height: 66px;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.header__logo{
		margin-left: 0 !important;
	}

	.header__button{
		margin: 0 !important;
	}
}