.nav-bar{
	display: flex;
	width: 239px;
	height: inherit;
	justify-content: space-between;
	margin: 0 64px 0 auto;
}

.nav-bar__button{
	background-color: transparent;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	border: none;
	padding: 0;
	height: inherit;
}

.nav-bar__button:nth-child(2){
	width: 120px;
	margin-left: 16px;
}

.nav-bar__button:hover{
	border-bottom: 3px solid white;
	cursor: pointer;
}

.nav-bar__button_active{
	background-color: transparent;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	border: none;
	border-bottom: 3px solid white;
	padding: 0;
	height: inherit;
}

.nav-bar__button_active:hover{
	cursor: pointer;
}

.nav-bar_reduced{
	width: 44px;
}

.nav-bar__button_theme_dark{
	background-color: transparent;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #1A1B22;
	border: none;
	padding: 0;
	height: inherit;
}

.nav-bar__button_theme_dark:hover{
	border-bottom: 3px solid black;
	cursor: pointer;	
}

.nav-bar__button_active_theme_dark{
	background-color: transparent;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #1A1B22;
	border: none;
	border-bottom: 3px solid black;
	padding: 0;
	height: inherit;
}

@media screen and (min-width: 520px) and (max-width: 703.5px) {
	.nav-bar{
		margin: 0;
		width: min-content;
	}

	.nav-bar_reduced {
		width: 44px;
		margin: 0;
	}

	.nav-bar__button:nth-child(2){
		margin: 0;
	}

	.nav-bar__button{
		margin-right: 16px;
	}

	.nav-bar__button_active{
		margin-right: 16px;
	}

	.nav-bar__button_theme_dark{
		margin-right: 16px;
	}

	.nav-bar__button_active_theme_dark{
		margin-right: 16px;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.nav-bar{
		margin: 0 16px 0 auto;
		width: min-content;
	}

	.nav-bar_reduced {
		width: 44px;
		margin: 0 64px 0 260px !important;
	}

	.nav-bar__button:nth-child(2){
		width: 120px;
	}

	.nav-bar__button{
		margin-right: 16px;
	}

	.nav-bar__button_active{
		margin-right: 16px;
	}

	.nav-bar__button_active:nth-child(2){
		width: 120px;
	}

	.nav-bar__button_theme_dark{
		margin-right: 16px;
	}

	.nav-bar__button_theme_dark:nth-child(2){
		width: 120px;
	}

	.nav-bar__button_active_theme_dark:nth-child(2){
		width: 120px;
	}

	.nav-bar__button_active_theme_dark{
		margin-right: 16px;
	}
}

@media screen and (min-width: 1150px) and (max-width: 1350px) {
	.nav-bar{
		margin: 0 64px 0 312px;
	}

	.nav-bar_reduced{
		margin: 0 64px 0 506px;
	}
}