.footer{
	height: 80px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 703.5px) {
	.footer__container{
		flex-direction: row !important;
		justify-content: space-around !important;
		margin-bottom: 62px !important;
	}

	.footer{
		height: 176px !important;
		flex-direction: column !important;
	}

	.footer__container-links{
		flex-direction: column !important;
		margin-left: 16px !important;
	}

	.footer__container-icons{
		margin-right: 18px !important;
	}

	.footer__link{
		text-align: left !important;
	}

	.footer__link:nth-child(1){
		margin-bottom: 26px !important;
	}

	.footer__text{
		width: 288px;
		margin: auto !important;
		margin-top: 162px !important;
		margin-bottom: -162px !important;
	}
}

@media screen and (min-width: 704px) and (max-width: 1149.5px) {
	.footer{
		height: 64px !important;
	}

	.footer__text{
		width: 300px !important;
		margin: auto 0 auto auto !important;
	}

	.footer__container-icons{
		width: 60px !important;
		margin: auto 26px auto 41px !important;
	}

	.footer__text{
		margin-left: 40px !important;
		margin-top: 24px !important;
	}
}

.footer__container{
	display: flex;
	flex-direction: row;
}

.footer__container-icons{
	width: 73.89px;
	display: flex;
	margin: auto 104px auto 40px;
	justify-content: space-between;
}

.footer__container-links{
	margin: auto 0 auto auto;
	display: flex;
	flex-direction: row;
}

.footer__icon{
	width: 24px;
	height: 24px;
}

.footer__icon:hover{
	cursor: pointer;
}

.footer__link{
	height: 22px;
	width: min-content;
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #1A1B22;
	text-decoration: none;
}

.footer__link:hover{
	cursor: pointer;
}

.footer__link:nth-child(1){
	margin-right: 40px;
}

.footer__text{
	font-family: 'Roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #B6BCBF;
	margin: 32px auto 0 104px;
}