.leaflet-container {
  height: 500px;
  width: 500px;
  border: 1px solid grey;
  margin: auto;
  z-index: 1;
}

.app__map-pointer {
  position: relative;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  z-index: 10000000000;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 709.5px) {
  .leaflet-container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 300.5px) {
  .leaflet-container {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 704px) and (max-width: 1149.5px) {}